.sc-header {
  background: #EEF0F1;
  height: 53px;
  color: white;
  padding: 10px;
  padding-right: 0px;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
}

.sc-header--img {
  border-radius: 50%;
  align-self: center;
  padding: 10px;
}

.sc-header--team-name {
  align-self: center;
  flex: 1;
  border-radius: 5px;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 24px;
  color: black;
  font-weight: 500 !important;
  margin-right: 10px;
  overflow: hidden;
}

.sc-header--image {
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  filter: brightness(0) saturate(100%)
}

.sc-header--close-button {
  width: 40px;
  align-items: center;
  height: 40px;
  display: flex;
  box-sizing: border-box;
  cursor: pointer;
  padding: 15px;
  margin-right: 5px;
  border-radius: 5px;
  justify-content: center;
}

@media (max-width: 450px) {
  .sc-header {
    border-radius: 0px;
  }
}

.sc-header--menuImage {
    height: 24px;
    width: 24px;
}

.sc-header--menuImage.active {
  filter: brightness(0) saturate(100%) invert(10%) sepia(88%) saturate(6063%) hue-rotate(208deg) brightness(97%) contrast(127%);
}

.sc-header--menuImage.inactive {
  filter: brightness(0) saturate(100%)
}