.sc-launcher {
  background-color: #63b057;
  position: fixed;
  box-shadow: none;
  transition: box-shadow .2s ease-in-out;
  cursor: pointer;
  color: #fff;
  right: 0;
  top: calc(50dvh - 80px);
  /* top: 0;*/
  /* bottom: 0;*/
  font-size: 15px;
  font-weight: 500;
  align-self: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 6px 8px;
  transform: rotate(270deg);
  margin-right: -38px;
  width: 92px;
  height: 25px;
  img {
      height: 18px;
      width: 18px;
      margin-right: 7px;
      margin-bottom: -4px;
      filter: brightness(0) saturate(100%) invert(100%) sepia(8%) saturate(0) hue-rotate(160deg) brightness(107%) contrast(109%)
  }
}