.list-chat-container {
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  background-color: white;
}

.list-chat-item-container {
  padding: 20px 15px;
  border-bottom: 1px solid #cecece;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &:hover {
    background-color: #f3f3f3;
  }
}

.list-chat-item-title {
  font-weight: 500;
  font-size: 15px;
  flex: 2;
}

.list-chat-item-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.list-chat-item-content {
  display: flex;
  margin-top: 10px;
}

.list-chat-item-description {
  font-size: 14px;
  display: flex;
  margin-left: 10px;
  line-height: 22px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.list-chat-item-description-wrap { 
  height: 45px;
}

.list-chat-item-date {
  font-size: 13px;
  text-align: right;
  font-weight: 300;
  flex: 1;
  margin-top: 10px;
  color: #636363
}

.list-chat-header {
  padding: 8px 15px;
  background-color: #4f72c2;
  display: flex;
  position: fixed;
  width: 100%;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
}

.list-chat-input {
    border: none;
    height: 30px;
    width: 100%;
    outline: none;
    margin-left: 10px;
}

.list-chat-input-container {
  display: flex;
  background-color: white;
  padding: 3px 15px;
  border-radius: 5px;
  align-items: center;
  flex: 1;

  img {
    height: 20px !important;
    width: 20px !important;
  }
}

.list-chat-filter-icon {
    height: 22px !important;
    width: 22px !important;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%) !important;
}

.list-chat-filter-title {
  color: white;
  margin-left: 10px;
}

.list-chat-filter-button {
  padding-left: 30px;
  padding-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

body {
  margin: 0px !important;
  outline: none !important;
}

.sc-user-input-files-container {
  padding: 15px 0px;
  background-color: #f4f7f9;
  border-top: 1px solid #cecece;
  padding-bottom: 20px;
  span {
    margin-left: 10px;
  }
}

.sc-user-input-files-image { 
  height: 100px;
  width: 100px;
  border-radius: 8px;
  object-fit: cover;
}

.sc-user-input-files-wrap { 
  height: 100px;
  width: 100px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cbdfff;
}

.sc-user-input-files-name {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  font-size: 12px;
  margin-top: 8px;
  line-height: 16px;
  -webkit-box-orient: vertical;
}

.sc-user-input-files-icon { 
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.sc-user-input-files-header { 
  display: flex;
  justify-content: space-between;
}

.sc-user-input-files-delete-button { 
  cursor: pointer;
  padding: 5px 15px;
  font-size: 15px;

  &:hover {
    color: grey;
  }
}

.sc-user-input-files-hover { 
  height: 100px;
  width: 100px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, .4);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sc-user-input-files-trash { 
  height: 25px;
  width: 25px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%) !important;
}

.sc-user-input-files-item { 
  height: 100px;
  width: 100px;
  margin-left: 5px;
  border-radius: 8px;
  border: 1px solid #e8e8e8;
  cursor: pointer;
  position: relative;
  &:hover {
    background-color: rgba(0,0,0,.6);
  }
}

.sc-user-input-list-file {
  margin-top: 10px;
  display: flex;
}