.list-chat-container {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  background-color: white;
}

.list-chat-item-container {
  padding: 20px 15px;
  border-bottom: 1px solid #cecece;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &:hover {
    background-color: #f3f3f3;
  }
}

.list-chat-item-title {
  font-weight: 500;
  font-size: 15px;
  flex: 2;
}

.list-chat-item-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.list-chat-item-content {
  display: flex;
  margin-top: 10px;
}

.list-chat-item-description {
  font-size: 14px;
  margin-top: 10px;
  display: flex;
  margin-left: 10px;
}

.list-chat-item-date {
  font-size: 13px;
  text-align: right;
  font-weight: 300;
  flex: 1;
  color: #636363
}

.list-chat-header {
  padding: 8px 15px;
  background-color: #4f72c2;
  display: flex;
  position: fixed;
  width: 100%;
}

.list-chat-input {
    border: none;
    height: 30px;
    width: 100%;
    outline: none;
    margin-left: 10px;
}

.list-chat-input-container {
  display: flex;
  background-color: white;
  padding: 3px 15px;
  border-radius: 5px;
  align-items: center;
  flex: 1;

  img {
    height: 20px !important;
    width: 20px !important;
  }
}

.list-chat-filter-icon {
    height: 22px !important;
    width: 22px !important;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%) !important;
}

.list-chat-filter-title {
  color: white;
  margin-left: 10px;
}

.list-chat-filter-button {
  padding-left: 30px;
  padding-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

body {
  margin: 0px !important;
  outline: none !important;
}