.sc-message {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  padding-bottom: 10px;
  display: flex;
}

.sc-message--content {
  width: 100%;
  display: flex;
}

.sc-message--content.sent {
  justify-content: flex-end;
  margin-right: 8px;
}

.sc-message--content.sent .sc-message--avatar {
  display: none;
}

.sc-message--avatar {
  background-image: url(https://d13yacurqjgara.cloudfront.net/assets/avatar-default-aa2eab7684294781f93bc99ad394a0eb3249c5768c21390163c9f55ea8ef83a4.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-self: center;
  margin-right: 15px;
}

.sc-message--text {
  padding: 15px 15px;
  border-radius: 6px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.65;
  -webkit-font-smoothing: subpixel-antialiased;
  width: calc(100% - 90px);
}

.sc-message--date {
  font-size: 14px;
  color: #a5a5a5;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.sc-message--name {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 10px;
}

.sc-message--fileAuthorName {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 10px;
  color: #263238 !important;
  padding-top: 10px;
  padding-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 230px;
}

.sc-message--time {
  margin: 0;
  margin-top: 10px;
  font-size: 12px;
  text-align: right;
  margin-bottom: -10px;
}

.sc-message--image {
  height: 150px;
  width: 200px;
  object-fit: cover;
}

.sc-message--waiting-icon-wrap {
  display: flex;
  /* background-color: red; */
  width: 15px;
}

.sc-message--waiting-icon {
  height: 25px;
  width: 25px;
  margin: auto;
  opacity: 0.4;
}

.sc-message--menu-icon {
  height: 20px;
  width: 20px;
  margin: auto;
  opacity: 0.5;
  margin-left: 5px;
}

.sc-message--content.sent .sc-message--text {
  color: white;
  background-color: #4f72c2;
  max-width: calc(100% - 120px);
  word-wrap: break-word;
  max-width: 270px;
  width: auto;

  a {
    color: white !important;
  }
}

.sc-message--content.received .sc-message--text {
  color: #263238;
  background-color: #f4f7f9;
  margin-right: 40px;
  word-wrap: break-word;
  max-width: 270px;
  width: auto;
  a {
    color: #263238 !important;
  }
}

.sc-message--emoji {
  font-size: 40px;
}

.sc-message--file {
  padding-bottom: 5px;
  background-color: #4f72c2 !important;
  border-radius: 5px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  cursor: pointer;
  text-decoration: none;
  word-wrap: break-word;
  max-width: 300px;
  width: auto;
  padding: 15px 15px
}


.sc-message--file .sc-user-input--file-icon:hover path {
  fill: rgba(86, 88, 103, 0.3);
}

@media (max-width: 450px) {
  .sc-message {
    width: 80%;
  }
}

.sc-message-loading-list {
  height: 30px;
  width: 30px;
  margin: auto;
}

.sc-message-loading-list-wrap {
  height: 100%;
  width: 100%;
  display: flex;
}

.sc-message-load-more-list-wrap {
  display: flex;
  margin-bottom: 10px;
}

.sc-message-option-wrap {
  display: flex;
  border-bottom: 1px solid #cecece;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;

  &:hover {
    background-color: #f4f4f4;
  }
}

.sc-message-option-icon {
  height: 18px;
  width: 18px;
  margin-right: 10px;
}

.sc-message-typing-icon {
  height: 30px;
  width: 30px;
  object-fit: contain;
  margin-bottom: -13px;
  margin-left: -5px;
}

.sc-message-option-icon-trash {
  filter: brightness(0) saturate(100%) invert(46%) sepia(20%) saturate(6922%)
    hue-rotate(327deg) brightness(98%) contrast(111%);
}
