.sc-popup-window {
  position: relative;
  width: 120px;
}

.sc-popup-window--cointainer {
  position: absolute;
  bottom: 20px;
  right: 100px;
  width: 330px;
  max-height: 260px;
  height: 260px;
  box-shadow: 0px 7px 40px 2px rgba(148, 149, 150, 0.3);
  background: white;
  border-radius: 10px;
  outline: none;
  transition: 0.2s ease-in-out;
  z-index: 1;
  padding: 0px 5px 5px 5px;
  box-sizing: border-box;
}

.sc-popup-window--cointainer.closed {
  opacity: 0;
  visibility: hidden;
  bottom: 14px;
}

.sc-popup-window--cointainer:after {
  content: "";
  width: 14px;
  height: 14px;
  background: white;
  position: absolute;
  z-index: -1;
  bottom: -6px;
  right: 28px;
  transform: rotate(45deg);
  border-radius: 2px;
}

.sc-popup-window--search {
  width: 290px;
  box-sizing: border-box;
  margin: auto;
  display: block;
  border-width: 0px 0px 1px 0px;
  color: #565867;
  padding-left: 25px;
  height: 40px;
  font-size: 14px;
  background-image: url(https://js.intercomcdn.com/images/search@2x.32fca88e.png);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 0 12px;
  outline: none;
}

.sc-popup-window--search::placeholder {
  color: #C1C7CD;
}

.popup-content {
  box-shadow: none !important;
  border-radius: 5px;
  cursor: pointer;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 180px !important;
}

.drag-box {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.7);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drag-content-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 12px;
  border: 2px dashed white;
  flex-direction: column;

  span {
    color: white;
    font-size: 18px;
    font-weight: 500;
  }
}

.drag-file-icon {
  height: 40px;
  width: 40px;
  margin-bottom: 20px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(145deg) brightness(101%) contrast(100%);
}